<launch>

    <node pkg="turtlesim" type="turtlesim_node" name="turtlesim_node" output="screen"/>

    <node pkg="homework2" type="move.py" name="move" output="screen">
        <param name="scale" value="2" type="int"/>
    </node>

    <!-- Simple usage: rosservice call /move "{shape: square, duration: 10}" -->

</launch>
