<launch>
    <!-- Gazebo -->
    <include file="$(find task1)/launch/rins_world.launch"/>

    <!-- Rviz -->
    <include file="$(find task1)/launch/amcl_simulation.launch"/>

    <!-- Face detection -->
    <node name="face_detection" pkg="task1" type="face_localizer.py" output="screen"/>

    <!-- Movement -->
    <node name="map_goals" pkg="task1" type="task1_map_goals" output="screen"/>

    <!-- Sound -->
    <node name="sound_play" pkg="sound_play" type="soundplay_node.py" output="screen">
        <param name="sounds_dir" type="string" value="$(find task1)/sounds/"/>
    </node>

    <!-- Map config -->
    <rosparam file="$(find task1)/config.yaml"/>
</launch>
